body {
  font: 10px sans-serif;
}

h4{
	font-size: 15px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}


.chart {
  height: 500px;
}


.tt {
  background-color: black ;
  font-size: 13px;
  position: absolute;
  display: none;
  padding: 8px;
  color: white;


  box-shadow: 2px 2px 6px #666;

}

.tt .date {
  font-size: 11px;
  font-weight: bold;
  color: #C0C0C0 ;
  text-transform: uppercase;
}

.tt .val {
  font-size: 18px;
  font-weight: bold;
}
